@model IEnumerable<StarSecurityServices.Models.Vacancies>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/Dashboard.cshtml";
}

<h1>List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmpName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpAdd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpCon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpEdu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Depart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmpName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpAdd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpCon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpEdu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Depart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
